#descripcion {
	width: 90%;
    margin: auto;
	text-align: justify;
	margin-top: 80px;
	
}
#descripcion1 h3, h4{
	text-align: center;
}

#descripcion1 {
	margin-top: 40px;
    align-items: flex-start;
}

#descripcion1 .contenedor{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#descripcion1 article{
	margin: 35px;
}

#descripcion1 img{
	width: 100%;
    max-width: 280px;
    height: 300px;
}
#descripcion1 p{
	text-align: justify;
    width: 250px;
    margin: auto;
    margin-top: 12px;
}