/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Estilos del encabezado */
header {
  background-color: #f2f2f2;
  text-align: center;
  padding: 50px;
}

header img {
  margin-right: 10px;
  width: 100%;
  max-width: 200px;
}

.titulo {
  margin-top: 20px;
}

h1 {
  color: #333;
  font-size: 36px;
}

/* Estilos de la sección de registro */
section {
  text-align: center;
  padding: 50px;
}

h2 {
  color: #333;
  font-size: 24px;
}

form {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  display: block;
  margin-bottom: 10px;
  text-align: left;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  max-width: 300px;
  padding: 8px;
  margin-bottom: 10px;
}

/* Estilos del botón de enviar */
.btn {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #555;
  cursor: pointer;
}

.registro-info {
  margin-top: 50px;
  text-align: center;
}

.registro-info h3 {
  color: #333;
  font-size: 20px;
}

.registro-info p {
  font-size: 16px;
}

.registro-info span {
  font-weight: bold;
}

/* Estilos del botón de volver */
.btn-volver {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
  font-size: 18px;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.btn-volver:hover {
  background-color: #555;
  cursor: pointer;
}

/* Estilos del pie de página */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* Estilos responsive */
@media screen and (max-width: 600px) {
  header {
    padding: 20px;
  }

  header img {
    max-width: 150px;
  }

  .titulo {
    margin-top: 10px;
  }

  h1 {
    font-size: 24px;
  }

  section {
    padding: 20px;
  }

  h2 {
    font-size: 20px;
  }

  form {
    margin-bottom: 10px;
  }

  .btn,
  .btn-volver {
    font-size: 16px;
    padding: 8px 16px;
  }

  .registro-info h3 {
    font-size: 16px;
  }

  .registro-info p {
    font-size: 14px;
  }

  footer {
    font-size: 14px;
  }
}

